{% raw %}
<div ng-controller="GroupInviteCtrl">
  <h2>Invite your friends via email</h2>
  <hr />
  <div ng-show="responseText" ng-class="status ? 'alert-success' : 'alert-danger'" class='alert ng-cloak'>{{ responseText }}</div>
  <form ng-submit="submit()" name="groupInviteForm" role="form" method="post" style="max-width: 300px;" novalidate><br>
    <div class="form-group" ng-class="{ 'error' : groupInviteForm.email.$invalid }">
      <label for='emailList'>Friend's Email</label>
      <textarea rows="10" ng-model="emailList" name="emailList" placeholder="Your friend's emails here" class="form-control"></textarea>
      <small>sperate multiple emails with a comma</small>
    </div>
    <a class="cs_import">Add from Address Book</a>
    <button ng-disabled="groupInviteForm.$pristine" type="submit" class="btn btn-primary">Invite</button>
  </form>
</div>
{% endraw %}