{% extends "layout.html" %}
  
{% block content %}
  <div class='row rules_page'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      <h1>About Us</h1>
      <hr>
      <p>Coder's Bracket is the product of an internal open-source project at Fullstack Academy. Contributers included students of FSA10, staff and developers from the NYC community.</p>
      
      <h3 style='margin-bottom: 10px;'>Contributers</h3>
      <h4><strong>Students</strong></h4>
      <p>FSA students with pull-requests to the project:</p>
      <ul>
        <li>Ji Ho Koo</li>
        <li>Jisan Zaman</li>
        <li>Max Giraldo</li>
        <li>Migi Domingo</li>
        <li>Russell Ingram</li>
      </ul>
      
      <h4><strong>Staff</strong></h4>
      <p>Staff who contributed to the project:</p>
      <ul>
        <li>Asuquo Obong</li>
        <li>Charlotte Leasia</li>
        <li>David Yang</li>
        <li>Hannah Jane Buchanan</li>
        <li>Nimit Maru</li>
        <li>Scott D'Alessandro</li>
      </ul>
      
    </div>
  </div>
    
{% endblock %}