{% extends "layout.html" %}

{% block content %}

  <!-- Modals -->
  {% include "./partials/registerModal.html" %}
  {% include "./partials/saveBracketModal.html" %}

  {% include "./partials/show_flash.html" %}
        <div class='row'>
          <div class='col-lg-3 col-md-4 col-sm-4' id='code_editor_col'>
            <div id='content_container'>
              <a href='#' class='pull-right'><i class='fa fa-question-circle'></i> Get Help</a>
              <h4 style='letter-spacing:-1px;'><strong>Step 1.</strong></h4>
              <h5>Build your game picking function.</h5>

              <div class="btn-group " style='margin-bottom: 8px;'>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle noround noright" data-toggle="dropdown">
                    <i class="fa fa-code"></i> Examples <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" id='byseed'>By the Seed</a></li>
                    <li><a href="#" id='leastlosses'>Least Losses</a></li>
                    <li><a href="#" id='randombracket'>Random Bracket</a></li>
                    <li><a href="#" id='halfnhalf'>Half-n-Half (Seed & Random)</a></li>
                    <li><a href="#" id='laterseed'>Seeds Weighted Higher in Later Rounds</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle noround" data-toggle="dropdown">
                    <i class="fa  fa-wrench"></i> Options <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" id='menu-reset'>Reset</a></li>
                    <li><a href="#" id='menu-documentation'>Documentation</a></li>
                  </ul>
                </div>
                <div class="btn-group hide">
                  <button type="button" class="btn btn-default noround" id='btn-savebracket'><i class="fa fa-arrows-alt"></i> Expand</button>
                </div>
              </div>
              <div id='editor_container' class='edit_page_editor_container'>
                <div id='editor' class='edit_page_editor'>function(game, team1, team2){
  if (team1.seed < team2.seed) {
    team1.wins();
  } else {
    team2.wins();
  }
}</div>
                    </div> <!-- end editor_container -->
                    <h4 style='letter-spacing:-1px;'><strong>Step 2.</strong></h4>
                    <div id='generate_button'>
                      <a href='#' class='btn btn-warning btn-codersbracket' id="startbutton" data-loading-text="Generating Bracket...">
                        Generate Bracket
                      </a>
                    </div>
                    <br>
            </div> <!-- end content_container -->
          </div> <!-- end left column -->
          <div class='col-lg-9 col-md-8 col-sm-8' id='bracket_col'>
            <h4><strong>Your Code Bracket</strong></h4>
            <div id='bracket_status' class='alert alert-success clearfix'>
              <div>Done! Check out your newly generated code-bracket below.</div>
              <div style='text-align: center; margin-top: 14px;'>
                <a href='#' id='save_bracket_btn' class='btn btn-success btn-lg'>Save Your Bracket</a>
                <a href='#' id='modify_code_btn' class='btn btn-warning btn-lg' style='margin-right: 10px;'>Modify the Code</a>
              </div>
            </div>
            <div id='bracket-wrap'>
              <div id='matrix_titles'>Generating your bracket...</div>
              <div id='matrix'>
                Start by creating your game picking function on the left.<br><br>
                <a href='#' class='btn btn-warning btn-codersbracket'>Examples</a>
                <a href='#' class='btn btn-warning btn-codersbracket'>Watch the Tutorial</a>
              </div>
              <div id='bracket_blur_image'>
                <!-- <img src='/images/blurbracket.jpg'> -->
              </div>
              <div id='bracket' class='bracket_blur'></div>
            </div><!-- end bracket-wrap -->

            <div class='sample-code' id='byseed-code'>
  if (team1.seed < team2.seed) {
    team1.wins();
  } else {
    team2.wins();
  }
            </div>
            <div class='sample-code' id='leastlosses-code'>
  if (team1.losses < team2.losses) {
    team1.wins();
  } else {
    team2.wins();
  }
            </div>
            <div  class='sample-code' id='randombracket-code'>
  if (Math.random() <= 0.5) {
    team1.wins();
  } else {
    team2.wins();
  }
            </div>
            <div class='sample-code' id='halfnhalf-code'>
  var rand1 = Math.random();
  var rand2 = Math.random();
  var log_t1_seed = Math.log(team1.seed+1);
  var log_t2_seed = Math.log(team2.seed+1);

  if (rand1*log_t1_seed < rand2*log_t2_seed) {
    team1.wins();
  } else {
    team2.wins();
  }
            </div>
            <div class='sample-code' id='laterseed-code'>
  var rand1 = Math.random();
  var rand2 = Math.random();
  var log_t1_seed = Math.pow(Math.log(team1.seed+1), (game.round+2)/2);
  var log_t2_seed = Math.pow(Math.log(team2.seed+1), (game.round+2)/2);

  if (rand1*log_t1_seed < rand2*log_t2_seed) {
    team1.wins();
  } else {
    team2.wins();
  }
            </div>
            {% raw %}
            <script id="bracket-box" type="text/x-handlebars-template">
              <div class='b b{{side}} b{{blevel}}{% if blevel==4 %} first_round{%endif%}' id='b{{blevel}}-{{spot}}-{{side}}'>
                  <div class='team top'>{% if team1 %}{{team1.seed}}. {{team1.name}}{%endif%}</div>
                  <div class='team bottom'>{% if team2 %}{{team2.seed}}. {{team2.name}}{%endif%}</div>
              </div>
            </script>
            {% endraw %}
            <div class='clearfix'></div>
          </div>
{% endblock %}

{% block bottomscripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
<script src='/javascripts/jquery.elastic.source.js'></script>

<script>
  if(localStorage.getItem("code")) {
    $('#editor').html(localStorage.getItem("code"));
  }

  var editor = setupAceEditor();
</script>

<script>
  var teams = {{teams|json|safe}};
  var bracket = new Bracket(null,teams);
  var html = bracket.generateBracketHtml();

  {% if user %}
    var logged_in_user = {{user|json|safe}};
  {% else %}
    var logged_in_user = false;
  {% endif %}
/*
  var start_coding = function(e) {
    $('#bracket').fadeIn(400,function() {});
    $('#editor_w_buttons').animate({
      top: "0px"
    }, {
      duration: 500,
      complete: function() {
        $('#editor_screen').fadeOut(500);
      }
    });
    $('#pagetitle').fadeOut();
    $('#bracket').removeClass('bracket_blur');
    $('#bracket-wrap').fadeIn();
    $('#bracket-wrap').animate({top: '300px'});
    $('#generate_button').show();
  };
*/

  $('#bracket').html(html);
  setupBracketEvents(bracket);

  // $('#icancode_button').click(start_coding);

</script>

{% endblock %}
