{% extends "layout.html" %}
  
{% block content %}
  <div class='row rules_page'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      <h1>Contest Rules</h1>
      <ul class='contest_rules'>
        <li>One account per person please. You may not create multiple accounts to submit brackets!</li>
        <li>Before donating, you can submit only five brackets per person. After donating, you can submit 10 (and double your chances of winning)!</li>
        <li>If you donate at least $10 to our non-profits, you can double of chance of winning by making 10 brackets!</li>
        <li>Feel free to use any data source you have access to while creating your bracket</li>
        <li>No brackets will be accepted after the first game of the tournament starts on March 20th.</li>
      </ul>
      
      <p>Please email codersbracket@fullstackacademy.com if you have any questions about the rules.</p>
    </div>
  </div>
    
{% endblock %}