{% extends "layout.html" %}
  
{% block content %}
  <div class='row rules_page'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
      <h1>Prizes</h1>
      <hr>
      <h3>Grand Prize</h3>
      <ul class='contest_rules'>
        <li>$2,000 cash prize or a $5,000 scholarship to attend <a href="http://www.fullstackacademy.com">Fullstack Academy</a>.</li>
        <li>1 year of <a href="http://www.codeschool.com">Code School</a> ($300 value).</li>
        <li>Three free courses on <a href="http://www.udemy.com">Udemy</a> ($200 value).</li>
      </ul>
      
      <h3>Donation Gift</h3>
      <p>For those who donate to the STEM non-profits we are supporting, we offer the following thank you gifts.</p>
      <ul class='contest_rules'>
        <li>1 month of <a href="http://www.codeschool.com">Code School</a> for free ($25 value).</li>
        <li>A "Learn to Code" care package to help guide you in your journey learning to code.</li>
      </ul>
      
      <h3>"A" for Effort</h3>
      <p>For everyone who successfully submits a Code Bracket, we have the following:</p>
      <ul class='contest_rules'>
        <li>A two day free trial of <a href="http://www.codeschool.com">Code School</a>.</li>
        <li>A "Learn to Code" care package to help guide you in your journey learning to code.</li>
      </ul>
      
    </div>
  </div>
    
{% endblock %}