{% extends "layout.html" %}

{% block content %}
  <div class='heading'>[code your bracket]</div>
  
  {% include "./partials/show_flash.html" %}
  <div class='container' id='front_page_container'>
    <div class='row'>
      <div id='front_message'>
        <h2>Still using a mouse to fill out your bracket?</h2>
        <p>Learn to Code while making a killer bracket. All while benefiting great non-profits advancing STEM education. All in about <strong>two minutes</strong>. Sound good?</p>
      </div>
      <div id='front_buttons'>
        <form id='waitlist_form'>
        <input type='text' class='form-control cb_input' id='email' placeholder='email here'>
        <input type='submit' class='btn btn-primary btn-lg btn-codersbracket' value="I want in">
        </form>
        <div id='thanks'>Thanks! You'll be the first to know when Coder's Bracket is live.</div>
      </div>
      <div id='front_buttons' class='hide'>
        <a href='' class='btn btn-primary btn-lg btn-codersbracket'>Code your bracket</a>
        <a href='' class='btn btn-primary btn-lg btn-codersbracket'>Watch 2-min tutorial</a>
      </div>
    </div> <!-- end row -->
  </div> <!-- end content_container -->
  <div id="text-editor-animate">
		<img src="/images/text-editor3.png" />
	</div>

{% endblock %}

{% block bottomscripts %}
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
  <script>
    setupEvents();
  </script>
{% endblock %}