{% extends "layout.html" %}

{% block content %}

        {% include "./partials/show_flash.html" %}

        <div id='editor_container'>
          <div id='editor'>function(game, team1, team2){
  if (team1.seed < team2.seed) {
    team1.wins();
  }
}</div>
        </div>
        <div style='text-align:center;margin-bottom:10px;'><a href='#' class='btn btn-info' id='startbutton'>Generate Bracket</a></div>
        <br>
        <div id='bracket-wrap'>
          <div id='matrix_titles'>Running your code,<br>Generating your bracket...</div>
          <div id='matrix'></div>
          <div id='bracket'></div>
        </div>
      </div>

      {% raw %}
      <script id="bracket-box" type="text/x-handlebars-template">
        <div class='b b{{side}} b{{round}}{% if round==4 %} first_round{%endif%}' id='b{{round}}-{{spot}}-{{side}}'>
            <div class='team top'>{% if team1 %}{{team1.seed}}. {{team1.name}}{%endif%}</div>
            <div class='team bottom'>{% if team2 %}{{team2.seed}} {{team2.name}}{%endif%}</div>
        </div>
      </script>
      {% endraw %}
      
{% endblock %}

{% block bottomscripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
<script>
  var editor = setupAceEditor();
</script>

<script>
  var teams = {{teams_json()}};
  
  var bracket = new Bracket(teams);
  var html = bracket.generateBracketHtml();
  
  $('#bracket').html(html);
  $('#startbutton').click(function(e) {
    e.preventDefault();
    $('#bracket').html(html);

    bracket.toggleSpinner(true);
    var f = eval("("+editor.getValue()+")");
    if (_.isFunction(f)) {
      bracket.play(f, function () {
        bracket.toggleSpinner(false);
      });
    } else {
      alert("It seems like your function has an error in it.")
    }
    
    window.scrollTo(0,360);
  });
</script>

{% endblock %}