<!DOCTYPE html>
<html lang="en" ng-app="codeYourBracket">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title%}Coder's Bracket - A Project by Fullstack Academy{% endblock%}</title>

    <!-- Bootstrap core CSS -->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/spacelab/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/stylesheets/bootstrap_overrides.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
      var bootstrapData = (function(){ return {% autoescape false %} {{ bootstrapData|json_encode }} {% endautoescape %}; })();
    </script>

    {% block headbottom %}{% endblock %}
  </head>

  <body{% if homepage %} class="home"{% endif %}>

    <!-- Wrap all page content here -->
      <nav class="navbar navbar-inverse navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="/"><tt>Coder's Bracket</tt></a> -->
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <!-- <li><a href="#">Build a Bracket</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Standings</a></li> -->
              <li><a href="/code_bracket">Code Bracket</a></li>
              <li><a href="/mybrackets">My Brackets</a></li>
              <li><a href="/standings">Standings</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/groups">Create</a></li>
                  <li><a href="/groups/invite">Invite</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contest Info <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/contest/timeline">Timeline</a></li>
                  <li><a href="/contest/rules">Rules</a></li>
                  <li><a href="/contest/sponsors">Sponsors</a></li>
                </ul>
              </li>

              <!-- <li><a href="/contact">Help</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right hide">
              <li id='fssig'> <span id='sig_start_message'>A product of Love by </span><div id='sig_img_cont'><a href="http://www.fullstackacademy.com"><img src='/images/FullStack-Logo-white.png' id='fslogo'><img src='/images/FullStack-Name-Only.png'></a></div></li>
              <!-- <li><a href="http://www.fullstackacademy.com" style='text-align: center;'><span style='font-family:georgia; text-transform: none;font-style: italic;'>A Project by </span> Fullstack Academy</a> </li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <!-- <li><a href="#">Link</a></li> -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user|login_or_user}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% if user %}
                  <li><a href='/account'>My Account</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout">Log Out</a></li>
                  {% else %}
                  <li><a href="/login">Log In</a></li>
                  <li><a href="/register">Create Account</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <!-- Begin page content -->
      <div class="container">
        {% block content %} {% endblock %}
    </div> <!-- end container -->

    <!-- <div id="footer">
        <p class="text-muted">© Copyright 2014, <a href="http://www.fullstackacademy.com">Fullstack Academy</a></p>
    </div> -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="/javascripts/libs.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/script.js"></script>

    {% block bottomscripts %} {% endblock %}
    <script>
      setupLayoutEvents();
    </script>
  </body>
</html>
