@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  /*  background: url(/images/basketball-on-court-wallpaper-50.jpg); */
  background: #f34c0f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f34c0f 50%, #e23710 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f34c0f), color-stop(100%, #e23710));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f34c0f 50%, #e23710 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f34c0f 50%, #e23710 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f34c0f 50%, #e23710 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f34c0f 50%, #e23710 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f34c0f', endColorstr='#e23710',GradientType=0 );
  /* IE6-9 */
  overflow: hidden; }

@font-face {
  font-family: 'Nexa Black';
  src: url('webfonts/2A0305_0_0.eot');
  src: url('webfonts/2A0305_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2A0305_0_0.woff') format('woff'), url('webfonts/2A0305_0_0.ttf') format('truetype'); }

a {
  color: #FFF; }
  a:hover {
    color: #FF9600;
    text-decoration: underline; }

.cb_input {
  width: 400px;
  display: inline-block;
  padding: 5px 15px;
  font-size: 25px;
  height: 60px;
  border-radius: 0; }

.heading {
  margin-top: 60px;
  font: normal 80px "Nexa Black", Arial;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: 0px 8px #C3440D;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  position: relative; }

#front_buttons {
  text-align: center;
  margin-top: 0px; }
  #front_buttons input[type='submit'] {
    margin-top: -10px; }
  #front_buttons a {
    margin: 0 14px;
    margin-top: -10px;
    box-shadow: 1px 1px 15px rgba(20, 20, 20, 0.4); }

#thanks {
  font: normal 24px "Open Sans", Arial;
  text-align: center;
  padding: 30px 0 10px;
  display: none; }

#front_message {
  /*  background: rgba(0,0,0,.5);*/
  color: #6C160B;
  padding: 1px 20px 20px;
  /*  color: #fff;*/
  text-align: center;
  width: 800px;
  border-radius: 20px;
  margin: 25px auto 15px; }
  #front_message h2 {
    font-family: Satisfy;
    margin-bottom: 20px;
    color: #000; }
  #front_message p {
    line-height: 150%;
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    margin: 20px 0 0; }

#front_page_container {
  z-index: 2;
  position: relative; }

#footer {
  margin-top: 20px; }

#editor {
  width: 500px;
  height: 100%;
  margin: 0px auto;
  background: #E0EFFF;
  /*    background: #0D1E3C;*/
  font-size: 18px;
  line-height: 150%;
  overflow: hidden;
  z-index: 45; }

#editor_container {
  padding: 20px;
  background: #fff;
  width: 560px;
  height: 800px;
  margin: 0 auto 10px;
  border: 1px solid #ccc;
  /*  border-radius: 20px;*/
  background: #E0EFFF;
  /*  position: absolute;*/
  /*  background: #0D1E3C;*/ }

#editor_screen {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  z-index: 46;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 10px; }
  #editor_screen h1 {
    font-weight: bold;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white; }
  #editor_screen a.btn {
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    width: 220px;
    margin-right: 15px; }
    #editor_screen a.btn i {
      float: left;
      font-size: 30px;
      display: block;
      margin-right: 10px; }
    #editor_screen a.btn .subtitle {
      font-size: 12px;
      font-weight: normal; }

#editor_w_buttons {
  position: absolute;
  top: 20px;
  /*  left: (2*$rounds*100px + 200px)/2 - 330px;*/
  z-index: 300; }

#generate_button {
  text-align: center;
  margin-bottom: 10px;
  display: none; }

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px; }

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  /*  background-color: #f5f5f5;*/ }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container {
  width: auto;
  /*  max-width: 2*$rounds*100px + 200px;*/
  padding: 0 15px; }

.container .text-muted {
  margin: 20px 0; }

#content_container {
  position: relative;
  /*  max-width: 2*$rounds*100px + 200px;*/
  margin: 0 auto; }

#bracket-wrap {
  position: absolute;
  top: 0;
  background-color: #fff;
  padding: 20px;
  /*  display:none;*/ }

#bracket {
  width: 1200px;
  height: 950px;
  /*  border: 1px solid #ccc;*/
  position: relative;
  overflow: hidden; }

.bracket_blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.b {
  position: absolute;
  border: 1px solid black;
  background: #fff;
  width: 500px;
  z-index: 1; }
  .b .top {
    position: absolute;
    top: -15.2px;
    opacity: 0; }
  .b .bottom {
    position: absolute;
    bottom: 0;
    opacity: 0; }
  .b .team {
    font-size: 12.35px; }
  .b:hover {
    /*    background: yellow;*/ }
    .b:hover .team {
      color: red; }

.first_round .top {
  opacity: 1; }
.first_round .bottom {
  opacity: 1; }

.bleft {
  text-align: right; }
  .bleft .team {
    padding-right: 3px; }
  .bleft .top {
    right: 0; }
  .bleft .bottom {
    right: 0; }

.bright .team {
  padding-left: 3px; }

#b0-0-left {
  left: -0px;
  top: 237.5px; }

#b0-0-right {
  right: -0px;
  top: 237.5px; }

.b0 {
  height: 475px;
  z-index: 0; }

#b1-0-left {
  left: -100px;
  top: 118.75px; }

#b1-0-right {
  right: -100px;
  top: 118.75px; }

#b1-1-left {
  left: -100px;
  top: 593.75px; }

#b1-1-right {
  right: -100px;
  top: 593.75px; }

.b1 {
  height: 237.5px;
  z-index: 1; }

#b2-0-left {
  left: -200px;
  top: 59.375px; }

#b2-0-right {
  right: -200px;
  top: 59.375px; }

#b2-1-left {
  left: -200px;
  top: 296.875px; }

#b2-1-right {
  right: -200px;
  top: 296.875px; }

#b2-2-left {
  left: -200px;
  top: 534.375px; }

#b2-2-right {
  right: -200px;
  top: 534.375px; }

#b2-3-left {
  left: -200px;
  top: 771.875px; }

#b2-3-right {
  right: -200px;
  top: 771.875px; }

.b2 {
  height: 118.75px;
  z-index: 2; }

#b3-0-left {
  left: -300px;
  top: 29.6875px; }

#b3-0-right {
  right: -300px;
  top: 29.6875px; }

#b3-1-left {
  left: -300px;
  top: 148.4375px; }

#b3-1-right {
  right: -300px;
  top: 148.4375px; }

#b3-2-left {
  left: -300px;
  top: 267.1875px; }

#b3-2-right {
  right: -300px;
  top: 267.1875px; }

#b3-3-left {
  left: -300px;
  top: 385.9375px; }

#b3-3-right {
  right: -300px;
  top: 385.9375px; }

#b3-4-left {
  left: -300px;
  top: 504.6875px; }

#b3-4-right {
  right: -300px;
  top: 504.6875px; }

#b3-5-left {
  left: -300px;
  top: 623.4375px; }

#b3-5-right {
  right: -300px;
  top: 623.4375px; }

#b3-6-left {
  left: -300px;
  top: 742.1875px; }

#b3-6-right {
  right: -300px;
  top: 742.1875px; }

#b3-7-left {
  left: -300px;
  top: 860.9375px; }

#b3-7-right {
  right: -300px;
  top: 860.9375px; }

.b3 {
  height: 59.375px;
  z-index: 3; }

#b4-0-left {
  left: -400px;
  top: 14.84375px; }

#b4-0-right {
  right: -400px;
  top: 14.84375px; }

#b4-1-left {
  left: -400px;
  top: 74.21875px; }

#b4-1-right {
  right: -400px;
  top: 74.21875px; }

#b4-2-left {
  left: -400px;
  top: 133.59375px; }

#b4-2-right {
  right: -400px;
  top: 133.59375px; }

#b4-3-left {
  left: -400px;
  top: 192.96875px; }

#b4-3-right {
  right: -400px;
  top: 192.96875px; }

#b4-4-left {
  left: -400px;
  top: 252.34375px; }

#b4-4-right {
  right: -400px;
  top: 252.34375px; }

#b4-5-left {
  left: -400px;
  top: 311.71875px; }

#b4-5-right {
  right: -400px;
  top: 311.71875px; }

#b4-6-left {
  left: -400px;
  top: 371.09375px; }

#b4-6-right {
  right: -400px;
  top: 371.09375px; }

#b4-7-left {
  left: -400px;
  top: 430.46875px; }

#b4-7-right {
  right: -400px;
  top: 430.46875px; }

#b4-8-left {
  left: -400px;
  top: 489.84375px; }

#b4-8-right {
  right: -400px;
  top: 489.84375px; }

#b4-9-left {
  left: -400px;
  top: 549.21875px; }

#b4-9-right {
  right: -400px;
  top: 549.21875px; }

#b4-10-left {
  left: -400px;
  top: 608.59375px; }

#b4-10-right {
  right: -400px;
  top: 608.59375px; }

#b4-11-left {
  left: -400px;
  top: 667.96875px; }

#b4-11-right {
  right: -400px;
  top: 667.96875px; }

#b4-12-left {
  left: -400px;
  top: 727.34375px; }

#b4-12-right {
  right: -400px;
  top: 727.34375px; }

#b4-13-left {
  left: -400px;
  top: 786.71875px; }

#b4-13-right {
  right: -400px;
  top: 786.71875px; }

#b4-14-left {
  left: -400px;
  top: 846.09375px; }

#b4-14-right {
  right: -400px;
  top: 846.09375px; }

#b4-15-left {
  left: -400px;
  top: 905.46875px; }

#b4-15-right {
  right: -400px;
  top: 905.46875px; }

.b4 {
  height: 29.6875px;
  z-index: 4; }

/*final four*/
.b0 {
  border-right: 0;
  border-left: 0; }

/*#matrix {
  background: url(http://emergenceearth.com/wp-content/uploads/2013/12/matrix.gif);
  border-radius: 20px;
  opacity: .3;
  width: 700px;
  height: 300px;;
  z-index: 10;
  position: absolute;
  top: 280px;
  left: 250px;
  display:none;
}

*/
#matrix_titles {
  display: none;
  color: #fff;
  text-shadow: black 1px 1px 0.2em;
  font: bold 36px arial, sans-serif;
  text-align: center;
  padding-top: 380px;
  width: 1200px;
  height: 950px;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0; }

#pagetitle {
  text-align: center;
  margin-bottom: 30px; }
  #pagetitle h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Press Start 2P"; }
    #pagetitle h1 span {
      font-family: Satisfy, arial, sans-serif;
      font-weight: normal;
      display: block;
      font-size: 40px;
      margin-bottom: 20px; }
  #pagetitle a {
    color: #FF6B0A;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-size: 18px; }
  #pagetitle a:hover {
    text-decoration: underline; }

/* ANIMATION */
#text-editor-animate {
  /*    margin-top: 150px;*/
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  height: 250px;
  overflow: hidden;
  z-index: 0;
  -webkit-animation: floatBubble 1s normal ease-out;
  animation: floatBubble 1s normal ease-out; }

#text-editor-animate img {
  z-index: 0; }

#text-editor-animate:hover {
  z-index: 0; }

@-webkit-keyframes floatBubble {
  0% {
    bottom: -400px; }

  100% {
    bottom: 0px; } }

@keyframes floatBubble {
  0% {
    bottom: -400px; }

  100% {
    bottom: 0px; } }

/*END ANIMATION*/