{% extends "../layout.html" %}

{% block title %}
Manage Groups
{% endblock%}

{% block content %}

<div class="container" ng-controller="GroupManageCtrl">
  <div class='row' style='margin-bottom: 20px'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
  
      <h1>Manage Groups</h1>
      {% if error_flash %}
        <div class='alert alert-danger'>{{error_flash}}</div>
      {% else %}
      {% raw %}
      <div ng-show="responseText" ng-class="status ? 'alert-success' : 'alert-danger'" class='alert ng-cloak'>{{ responseText }}</div>
      <form ng-submit="submit()" name="createGroupForm" role="form" method="post" style="max-width: 300px;" novalidate><br>
        <div class="form-group">
          <label for='group'>Group</label>
          <select ng-model="group" ng-required="true" name="group" class="form-control" ng-options="g.name for g in groups">
          </select>
        </div>
        <div class="form-group">
          <label for='bracket'>Assign Bracket</label>
          <select ng-model="bracket" ng-required="true" name="bracket" class="form-control" ng-options="b.name for b in brackets">
          </select>
        </div>
        <button ng-disabled="createGroupForm.$invalid" type="submit" class="btn btn-warning noround">Assign</button>
      </form>
      {% endraw %}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
