@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

html, body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  height: 100%;
  background: white;
}

@font-face {font-family: 'Nexa Black';src: url('webfonts/2A0305_0_0.eot');src: url('webfonts/2A0305_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2A0305_0_0.woff') format('woff'),url('webfonts/2A0305_0_0.ttf') format('truetype');}

body.home {
    background: #f34c0f; /* Old browsers */
    background: -moz-linear-gradient(top, #f34c0f 50%, #e23710 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#f34c0f), color-stop(100%,#e23710)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f34c0f 50%,#e23710 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f34c0f 50%,#e23710 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f34c0f 50%,#e23710 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f34c0f 50%,#e23710 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f34c0f', endColorstr='#e23710',GradientType=0 ); /* IE6-9 */
    overflow: hidden;
}

a {
  color: #C43410;

  &:hover{
    color: #FF9600;
    text-decoration: underline;
  }
}

.cb_input {
  width: 380px;
  display: inline-block;
  padding: 5px 15px;
  font-size: 25px;
  height: 60px;
  border-radius: 0;
}

.heading {
  margin-top: 60px;
  font: normal 80px "Nexa Black", Arial;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: 0px 8px #C3440D;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  position:relative;
}

#front_buttons {
  text-align: center;
  margin-top: 0px;
  input[type='submit'] {
    margin-top: -10px;
  }
  a {
    margin: 0 14px;
    margin-top: -10px;
    box-shadow: 1px 1px 15px rgba(20,20,20,.4);
  }
}

#thanks {
   font: normal 24px "Open Sans", Arial;
   text-align: center;
   padding: 30px 0 10px;
   display:none;
}

#front_message {
/*  background: rgba(0,0,0,.5);*/
  color: #6C160B;
  padding: 1px 20px 20px;
/*  color: #fff;*/
  text-align: center;
  width: 800px;
  border-radius: 20px;
  margin: 20px auto 15px;

  h2 {
    font-family: Satisfy;
    margin-bottom: 20px;
    color: #000;
  }

  p {
    line-height: 150%;
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    margin: 20px 0 0;
  }
}

#front_page_container {
  z-index: 2;
  position: relative;
}

#fslogo {
  margin-right: 10px;
}

#fssig {
  margin-top: 10px;
  position: relative;

  #sig_start_message {
    padding: 5px;
  }
  #sig_img_cont {
    background: #C3440D;
    z-index: 2;
    position: relative;
    padding: 5px 0;
  }
  span {
    position: absolute;
    left: 0px;
    width: 220px;
    z-index: 0;
    color: #fff; font: normal 24px Satisfy,georgia,"open sans",sans-serif;
    display:inline-block;
    margin-right: 12px;
  }
  img {
/*    margin-top: 14px;*/
    border: 0;
    height: 34px;
  }
}

@function exponent($base, $exponent) {
  // reset value
  $value: $base;
  // positive intergers get multiplied
  @if $exponent > 1 {
    @for $i from 2 through $exponent {
      $value: $value * $base; } }
  // negitive intergers get divided. A number divided by itself is 1
  @if $exponent < 1 {
    @for $i from 0 through -$exponent {
      $value: $value / $base; } }
  // return the last value written
  @return $value;
}

@function pow($base, $exponent) {
  @return exponent($base, $exponent);
}

$rounds: 5;
$b_height: $rounds*190px;
$font_size: 0.012*$b_height;
$line_height: 0.016*$b_height;
$each_round_pct: 0.09;
$editor_background: #FFF7DB;
$view_editor_background: #FFFFFF;

#footer {
  margin-top: 20px;
}

#editor {
    width: 100%;
    height: 400px;
    margin: 0px auto;
    font-size: 14px;
    line-height: 150%;
    overflow:hidden;
    z-index: 45;
}

@media (max-width: 750px) {
  #editor {
    height: 300px;
  }
}

@media (min-width:750px) and (max-width: 970px) {
  #editor {
    height: 500px;
  }
}

@media (min-width:970px) and (max-width: 1170px) {
  #editor {
    height: 500px;
  }
}

@media (min-width:1170px) {
  #editor {
    height: 600px;
  }
}

.ace_scrollbar {
    display: none !important;
}

.ace_scroller {
  overflow-x: hidden !important;
}

#editor_container {
  padding: 20px 10px;
/*  background: #fff;*/
  width: 100%;
  height: 100%;
  margin: 0 auto 10px;
  border: 1px solid #ccc;
/*  border-radius: 20px;*/
/*  position: absolute;*/
/*  background: #0D1E3C;*/
}

#editor_screen {
  background: rgba(255,255,255,.7);
  width: 100%;
  height: 100%;
  z-index: 46;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 10px;

  h1{
    font-weight: bold;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  }

  a.btn {
    i {
      float: left;
      font-size: 30px;
      display: block;
      margin-right: 10px;
    }
    .subtitle {
      font-size: 12px;
      font-weight: normal;
    }
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    width: 220px;
    margin-right: 15px;
  }
}

#editor_w_buttons {
  position:absolute;
  top: 20px;
/*  left: (2*$rounds*100px + 200px)/2 - 330px;*/
  z-index: 300;
}

.view_page {
  background-color: $view_editor_background !important;
}

.edit_page {
  background-color: $editor_background !important;
}

#generate_button {
  text-align:center;
  margin-bottom:10px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
/*  background-color: #f5f5f5;*/
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container {
  width: auto;
/*  max-width: 2*$rounds*100px + 200px;*/
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

#content_container {
  position:relative;
/*  max-width: 2*$rounds*100px + 200px;*/
  margin: 0 auto;
}

#bracket-wrap {
/*  position: absolute;
  top: 0;
*/  background-color: #fff;
  margin-right: 10px;
  width: 100%;
/*  display:none;*/
}

#bracket {
/*  width: 2*$rounds*100px + 200px;*/
  width: 100%;
  min-width: 700px;
  height: $b_height;
/*  border: 1px solid #ccc;*/
  position: relative;
  overflow: hidden;
}
/*
.bracket_blur {
  -webkit-filter: blur(5px);
   -moz-filter: blur(5px);
   -o-filter: blur(5px);
   -ms-filter: blur(5px);
   filter: blur(15px);
}
*/
.bracket_blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
  filter: url(#blur);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}

#bracket_blur_image {
  img {
    width: 100%;
    height: 100%;
  }
  position:absolute;
  top: 0;
  left: 0;
}
#bracket_status {
  margin-bottom: 10px;
  font: bold 18px "open sans", arial, sans-serif;
  display:none;
  div {
    margin-top: 4px;
  }
}

.sample-code {
  display:none;
}

.b {
  position:absolute;
  border: 1px solid black;
  background: #fff;
/*  width: $rounds*100px;*/
  width: percentage($rounds*$each_round_pct);
  z-index: 1;

  .top {
    position:absolute;
    top: -1 * $line_height;
    opacity: 0.0;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    opacity: 0.0;
  }

  .team {
    font-size: $font_size;
  }

  &:hover {
    .team {
      color: red;
    }
/*    background: yellow;*/
  }
}

.view_page {
  .top {
    opacity: 1;
  }
  .bottom {
    opacity: 1;
  }
}

.first_round {
  .top {
    opacity:1;
  }
  .bottom {
    opacity:1;
  }

}
.bleft {
  text-align: right;
  .team {
    padding-right: 3px;
  }
  .top {
    right: 0;
  }
  .bottom{
    right: 0;
  }
}

.bright {
  .team {
    padding-left: 3px;
  }
}


@for $i from 0 through ($rounds - 1) {
  @for $j from 0 through (pow(2,$i) - 1) {

    #b#{$i}-#{$j}-left {
      //left: $i*-100px;
      left: $i*percentage(-1 * $each_round_pct);
      top: $b_height/pow(2,$i+2)+($b_height/pow(2,$i+1))*($j)*2;
    }

    #b#{$i}-#{$j}-right {
      //right: $i*-100px;
      right: $i*percentage(-1 * $each_round_pct);
      top: $b_height/pow(2,$i+2)+($b_height/pow(2,$i+1))*($j)*2;
    }
  }

  .b#{$i} {
    height: $b_height/pow(2,$i+1);
    z-index: $i;
  }
}
/*final four*/
.b0 {
  border-right: 0;
  border-left: 0;
}

#matrix {
  border-radius: 20px;
  opacity: .6;
  z-index: 10;
  position: absolute;
  text-align: center;
  font: normal 24px "open sans", arial, sans-serif;
}

#matrix_titles {
  display:none;
  color: #fff;
  text-shadow: black 1px 1px 0.2em;
  font: bold 36px arial,sans-serif;
  text-align: center;
  padding-top: $b_height/2.5;
  width: 2*$rounds*100px + 200px;
  height: $b_height;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
}

#pagetitle {
  h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Press Start 2P";
    span {
      font-family: Satisfy,arial,sans-serif;
      font-weight: normal;
      display: block;
      font-size: 40px;
      margin-bottom: 20px;
    }
  }

  a {
    color: #FF6B0A;
    text-decoration: none;
    padding: 10px;
    display:inline-block;
    font-size: 18px;
  }
  a:hover {
    text-decoration: underline;
  }
  text-align: center;
  margin-bottom: 30px;
}

/* ANIMATION */
#text-editor-animate {
		width: 100%;
		text-align:center;
    position: absolute;
    bottom: -600px;
    overflow: hidden;
    z-index: 0;
/*    -webkit-animation: floatBubble 1s normal ease-out;
    animation: floatBubble 1s normal ease-out;
*/
}

#text-editor-animate img {
  z-index: 0;
}

#text-editor-animate:hover {
  z-index: 0;
}

@-webkit-keyframes floatBubble {
    0% {
        bottom: -400px;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes floatBubble {
    0% {
        bottom: -400px;
    }
    100% {
        bottom: 0px;
    }
}
/*END ANIMATION*/

#dates_table {
  &:first-child {
    border: 0;
  }

  .date {
    width: 160px;
  }
}

.modal-content {
  padding: 20px;
}

.inline {
  display: inline-block;
  width: 49%;
}
.inline.second {
  margin-left: 2%;
}

[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}